<h2>Hi, <%= @user.name%></h2>

<p>
  Forgot your password? Don't worry, we're here to help!
  Simply tap the button below to reset your password and create a new one
</p>

<%= link_to "Reset password", "#{ENV['CLIENT_HOST']}/reset-password/#{@user.reset_digest}" %>

<p>
  This button will expire in two hours, afterwards you will have to ask to reset your paswword again
</p>

<p>
  If you did not request your password to be reset, please ignore this email and your password will not change.
</p>

